.banner {
    height: 46px;      
    position: sticky;  
    top: 0;             
    left: 0;
    width: 100%;
    z-index: 1;        
    text-align: center;
    background-color: #ff9;
}

.md-header {
    top: 45px;         
}